<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item class="ion-text-center" lines="none">
      <h3>Información de contacto</h3>
    </ion-item>

    <ion-item>
      <img
        class="profile-photo"
        src="assets/image/foto.png"
        alt="foto de perfil"
      />
    </ion-item>
    <ion-item> <label>Nombre:</label> &nbsp; Rafael Ortiz Calcaño </ion-item>
    <ion-item>
      <label>Escribeme:</label> &nbsp;
      <a target="_blank" href="mailto:rafaelcalcano149@gmail.com"
        >Vía correo electrónico</a
      >
    </ion-item>
    <ion-item>
      <label>Llamame:</label> &nbsp;
      <a target="_blank" href="tel:+18295055485">Teléfono celular</a>
    </ion-item>
  </ion-card>

</ion-content>
