<ion-header>
  <ion-toolbar>
    <ion-title>Información</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="universidades"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- ESTA PAGINA NO SE UTILIZA -->
   <!-- ESTA PAGINA NO SE UTILIZA -->
    <!-- ESTA PAGINA NO SE UTILIZA -->
     <!-- ESTA PAGINA NO SE UTILIZA -->
      <!-- ESTA PAGINA NO SE UTILIZA -->
       <!-- ESTA PAGINA NO SE UTILIZA -->
        <!-- ESTA PAGINA NO SE UTILIZA -->
         <!-- ESTA PAGINA NO SE UTILIZA -->
          <!-- ESTA PAGINA NO SE UTILIZA -->
           <!-- ESTA PAGINA NO SE UTILIZA -->
            <!-- ESTA PAGINA NO SE UTILIZA -->
</ion-content>
