<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Portada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>


  <ion-item class="ion-text-center" lines="none">
    <h3>Navaja suiza relacionada con esta aplicación</h3>
  </ion-item>

  <ion-item lines="none">
    <img src="/assets/image/navaja.png" alt="Navaja Suiza">
  </ion-item>

  <ion-item lines="none">
    <span>Esto es una navaja suiza, y esta relacionada a esta aplicación ya que al igual que la navaja suiza, esta aplicación cumple diferentes funciones.</span>
  </ion-item>
</ion-card>
</ion-content>
